body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
  width: 400px;
  background-color: tomato;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
}

.elevator {
  display: flex;
  flex-direction: column;
}

div {
  width: 100px;
  height: 20px;
  margin: 0px
  padding: 0px;
  border: black solid 1px;
  background-color: white;
}
